// ------------------------------------------------------------
// Colours and fills
// Add more to the array to populate consistent names across
// colors, fills (aka background) and rules (aka borders)
// ------------------------------------------------------------

@each $number, $color in 
		('deadpool', $sfs-deadpool),
		('baker', $sfs-baker),
		('knight', $sfs-knight),
		('miami', $sfs-miami),
		('cotton', $sfs-cotton),
		('vapour', $sfs-vapour),
		('white', #fff),
	{
	.color-#{$number} {
		color: $color;
	}
	.fill-#{$number} {
		background-color: $color;
	}
	.rule-#{$number} {
		border-color: $color;
	}
}
