// ------------------------------------------------------------
// Colours
// ------------------------------------------------------------

$sfs-deadpool						: #ff5555;
$sfs-baker							: #5c24b5;

// Grey scales
$sfs-knight							: #120000;
$sfs-miami							: #41474b;
$sfs-cotton							: #d3cbcb;
$sfs-vapour							: #f4efef;


// Colors assigned to roles
// ------------------------------------------------------------

// Defaults
$body-color 						: #fff;  					
$base-color							: $sfs-miami;  					
$heading-color						: $sfs-knight;  					

// Actions
$action								: $sfs-deadpool;						
$action-respond						: $sfs-baker;						

// Borders
$default-border-color 				: darken($sfs-vapour, 5%);						

// Forms
$form-label-color					: $heading-color;			
$form-legend-color					: $heading-color;			
$form-placeholder-color				: $sfs-cotton;						
$form-checkbox-color				: $heading-color;			
$form-radio-color					: $heading-color;			

// Responses
$warning 							: #ffff00;					// Careful now
$error 								: #ffa757;					// Down with that sort of thing
$success 							: #00ff18;					// Good bunch of lads