// ------------------------------------------------------------
// Settings
// ------------------------------------------------------------

@import "color";

// ------------------------------------------------------------
// :: Spacing units
// ------------------------------------------------------------

$internal-spacing-percent 			: 6%;		// Used by grid system. Can be used elsewhere
$internal-spacing					: 60; 		// Space internally with fixed measure. Renders in REM
$internal-spacing-pixel				: 60px; 	// Space internally with fixed measure. Renders in pixels 

// ------------------------------------------------------------
// :: Breakpoints
// ------------------------------------------------------------

// Screens
// --------------------------
$a-vp								: 300px;									
$b-vp 								: 400px;
$c-vp 								: 600px;
$d-vp 								: 800px;
$e-vp 								: 990px;

// Set assignments
// --------------------------

$max-grid							: $e-vp;								// Max grid
$max-vp								: $e-vp + $internal-spacing-pixel*2;	// Max viewport
$table-respond						: $c-vp;								// Responsive tables
$menu-respond						: $c-vp;								// If using ss/non ss navigation
$ie-fixed-vp						: $max-grid;

// ------------------------------------------------------------
// :: Borders
// ------------------------------------------------------------

$default-border-width 				: 2px; 		// Border width
$border-radius						: 10px;		// Default radius

// ------------------------------------------------------------
// :: Type (Renders in REM using @include font-size($#);
// ------------------------------------------------------------

$alpha   	: 56;
$beta		: 32;
$gamma		: 22;
$delta		: 18;
$epsilon	: 16;
$zeta		: 14;
$eta		: 12;

// Set units
// --------------------------------

$base-font-size		: $epsilon; 		// Page default size
$para				: $epsilon;  	 	// Paragraph size
$quote				: $beta;			// Quote size
$form-label-size    : $delta;			// Form label size
$form-legend-size	: $delta;			// Form legend size 


// Calc units
// --------------------------------
$rembase 			: 10;			// What do we want our rems to calculate from. 10 is nice and easy
$base-rhythm		: 25;			// Vertical rhythm	