// ------------------------------------------------------------
// Articles
// ------------------------------------------------------------

.article {
	position: relative;
}

.article__footer {
	@include leader(40);
	clear: both;
}

.article--single {
	position: relative;
	z-index: 3;
	@include leader($internal-spacing/2);
	@include respond-to($d-vp) {
		margin-top: 0;
		@include padding-all($internal-spacing/2);
		@include padding-leader(25);
		//transform: translateY(-2.5rem);
		margin-top: -2.5rem;
	}
	@include respond-to($max-grid) {
		@include padding-all($internal-spacing);
		@include padding-leader(35);
		//transform: translateY(-3.5rem);
		margin-top: -3.5rem;
	}
}