// ------------------------------------------------------------
// Button styles
// ------------------------------------------------------------

.button {
	background: transparent; // // Reset button and reset elements
	border: none; // Reset button and reset elements
	// ------- //
	display: inline-block;
	@include padding-all(12);
	@include padding-left(20);
	@include padding-right(20);
	@include font-size($delta);
	@extend %font-heading;
	line-height: 1;
	color: #fff;
	background-color: $sfs-deadpool;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 3px solid rgba(0,0,0,0.3);
	html.svg & {
		@include padding-right(50);
		background-image: url(../svg/source/icon-arrow-right-white.svg);
		background-position: 92.5% 50%;
		background-repeat: no-repeat;
		background-size: 18px 12.5px;
	}
	@include link-active-styles {
		color: #fff;
		background-color: $sfs-knight;
	}
}

// ------------------------------------------------------------
// Variation styles
// ------------------------------------------------------------

.button--block {
	display: block;
	width: 100%;
}

.button--secondary {
	background-color: $sfs-miami;
	@include link-active-styles {
		background-color: darken($sfs-deadpool, 5%);
	}
}