// ------------------------------------------------------------
// Callouts
// ------------------------------------------------------------

.callout {
	position: relative;
	overflow: hidden;
	@include padding-all($internal-spacing/2);
	.text-link {
		@include leader($para);
		display: inline-block;
	}
}

.callout--logos {
	@include trailer($internal-spacing/2);
	@include respond-to-max($d-vp) {
		padding: 0;
		@include leader($internal-spacing/2);
		//@include trailer($internal-spacing);
	}
}

.callout--pos1 {
	z-index: 2;
	margin-top: -10px;
	@include respond-to($c-vp) {
		margin-top: -30px;
	}
	@include respond-to($d-vp) {
		margin-top: -60px;
		min-height: 450px;
	}
	.text-link {
		@extend .color-deadpool;
		@include respond-to($d-vp) {
			position: absolute;
			bottom: 30px;
			left: 30px;
		}
	}
}

.callout--pos2 {
	z-index: 2;
	@include trailer($internal-spacing/2);
	@include respond-to($d-vp) {
		position: absolute;
		bottom: -50%;
	}
	@include respond-to($e-vp) {
		position: absolute;
		//bottom: -40%;
	}
}

.callout--pos3 { 
	@include respond-to($d-vp) {
		min-height: 350px;
	}
	.text-link {
		@extend .color-deadpool;
		@include respond-to($d-vp) {
			position: absolute;
			bottom: 30px;
			left: 30px;
		}
	}
}

.callout--pos4 {
	z-index: 3;
	@include respond-to($c-vp) {
		//margin-top: -30px;
		@include padding-all($internal-spacing);
	}
	@include respond-to($d-vp) {
		margin-top: -60px;
		//min-height: 450px;
	}
}

.callout--pair {
	.callout__cta {
		@include leader(20);
	}
	@include respond-to($c-vp) {
		.as-heading-large {
			width: 40%;
			float: left;
			display: inline-block;
		}
		.callout__cta {
			width: 55%;
			margin-left: 5%;
			float: left;
			display: inline-block;
			.button {
				float: right;
			}
		}
	}
}