// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------

.footer {
	position: relative;
}

.footer__banner {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: auto;
}

.footer__contact {
	position: relative;
	z-index: 2;
	@include padding-all($internal-spacing/2);
	@include leader($internal-spacing/2);
	@include trailer($internal-spacing/2);
	@include respond-to($d-vp) {
		margin-top: -33%;
		min-height: 400px;
	}
}

.footer__details {
	position: relative;
	@include trailer($internal-spacing/2);
	@include respond-to($d-vp) {
		@include leader($internal-spacing/2);
	}
}

.footer__list {
	@extend .as-list--typeset;
	li {
		@include trailer(10);
	}
	html.svg & {
		.icon {
			position: relative;
			@include space-right(8);
			top: -1px;
		}
	}
}

.footer__legal {
	@extend .rule;
	@extend .rule--overline;
	display: block;
	@include leader($para*2);
	@include padding-leader($para*1.8);
	line-height: 1.8;
	a {
		color: $base-color;
		border-bottom: 1px solid $base-color;
	}
}

.footer__legal.footer__legal--minor {
	@include padding-trailer($para*3);
}