// Form styles
// See form-items sub–folder for individuals
// ------------------------------------------------------------

.form {
	position: relative;
}

.form-contact {
	.button {
		@include leader(24);
	}
}

.form-contact-minor {
	@include leader(20);
	.button {
		@include leader(16);
	}
}

// Sections / fieldsets
.form-section {
	@include padding-all($internal-spacing);
	background: #fff;
	border: $default-border-width solid $default-border-color;
}

// Labels
.form-label {
	@include trailer(6);
	&.form-label--hidden {
		position: absolute !important;
	    clip: rect(1px, 1px, 1px, 1px);
	    padding: 0px;
	    border: 0 !important;
	    height: 1px !important;
	    width: 1px !important;
	    overflow: hidden;
	}
	.form-contact-minor & {
		float: left;
		display: inline-block;
		width: 25%;
		@extend %font-heading;
		@include font-size($delta);
		@include padding-all(10);
		@include padding-leader(5);
		padding-bottom: 0;
	}
}

// Form field wrapper
.form-field {
	position: relative;
	@extend %pie-clearfix;
	.form-contact-minor & {
		@extend .fill-cotton;
	}
}

// Space the form field
.form-field--spaced {
	@include leader($internal-spacing/6);
}

// Standard form elements  
.form-item {
	@include padding-all($internal-spacing/6);
	display: block;
	border: 1px solid $default-border-color;
	appearance: none;
	background-color: #fff;
	.form-contact-minor & {
		float: left;
		display: inline-block;
		width: 75%;
		min-height: 55px;
		border: none;
	}
	&::focus-inner {
	    border: 0;
	    padding: 0;
	}
	&:focus {
		outline: none;
		border-color: $action;
	}
}

textarea.form-item {
	.form-contact-minor & {
		height: 180px;
	}
	.form-contact & {
		height: 250px;
	}
}

// Get individul items
// -----------------------

@import "form-items/checkbox-radio"; 
@import "form-items/select"; 
@import "form-items/validation"; 

