@include grid;

// ------------------------------------------------------------

.row {
	@extend %pie-clearfix;
	min-width: auto; 
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: $internal-spacing-percent;
	padding-right: $internal-spacing-percent;
	@include grid_columns(2);
	@include respond-to($b-vp) {
		@include grid_columns(4);
	}
	@include respond-to($c-vp) {
		@include grid_columns(8);
	}
	@include respond-to($d-vp) {
		@include grid_columns(16);
	}
	@include respond-to($max-vp) {
		max-width: $max-grid;
		padding-left: 0;
		padding-right: 0;
	}
}

// Drag row left to allow for equal spaced grid. AKA gutters
// Gutters set in mixins.scss file
.row__colspaced {
	position: relative;
	@extend %pie-clearfix;		
	min-width: (100% + $internal-spacing-percent); 	
	left: -$internal-spacing-percent; 	
}