@include grid;

// ------------------------------------------------------------

.row {
	@extend %pie-clearfix;
	min-width: auto; 
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

// Drag row left to allow for equal spaced grid. AKA gutters
// Gutters set in mixins.scss file
.row__colspaced {
	position: relative;
	@extend %pie-clearfix;		
	min-width: (100% + $internal-spacing-percent); 	
	left: -$internal-spacing-percent; 	
}