// ------------------------------------------------------------
// Heroes
// ------------------------------------------------------------

.hero {
	position: relative;
	z-index: 0;
}

.hero--default {
	padding-top: 8%;
	padding-bottom: 2%;
	@include respond-to($d-vp) {
		padding-top: 18%;
		padding-bottom: 40px;
	}
	@include respond-to($e-vp) {
		padding-top: 10%;
	}
}

.hero--split {
	overflow: hidden;
}

.hero__tile {
	z-index: 1;
	background-color: $sfs-deadpool;
	@extend .background-cover;
	@include respond-to($c-vp) {
		height: 450px;
		width: 50%;
		float: left;
		display: inline-block;
		position: relative;
	}
	@include respond-to($d-vp) {
		height: 550px;
	}
	@include respond-to($e-vp) {
		height: 650px;
	}
	&:first-child {
		background-color: $sfs-knight;
		@include respond-to-max($c-vp) {
			display: none;
		}
	}
}

.hero__tile__content {
	@include padding-all($internal-spacing/2);
	padding-left: $internal-spacing-percent;
	padding-right: $internal-spacing-percent;
	@include respond-to($c-vp) {
		padding: 15%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		max-width: 750px;
		p {
			max-width: 450px;
		}
	}
}