// ------------------------------------------------------------
// General icon control
// ------------------------------------------------------------

.icon { 
	display: inline-block; 
	vertical-align: middle; 
	overflow: hidden;
	position: relative;
	line-height: 0; // Bit dirty but works fine for keeping things inline
	// Position text within em and removed from view
	em {
		position: absolute;
		top: -9999em;
		display: block;
	}
}


// ------------------------------------------------------------
// Specific sizes
// ------------------------------------------------------------

$icon-sizes: 16, 24;

@each $icon-size in $icon-sizes {
    .icon--#{$icon-size} {
    	width: ($icon-size) + px;
    	height: ($icon-size) + px;
    	svg {
	    	width: ($icon-size) + px;
			height: ($icon-size) + px;
    	}
    }
}

// ------------------------------------------------------------
// Per icon control as needed
// ------------------------------------------------------------

// Please keep in alphabetical order
//$icons:


// Get svgs
// ---------------------------------------

//@each $icon in $icons {
//	.#{$icon} {
//		html.svg & {
//			background-image: url("../svg/source/#{$icon}.svg");
//		}
//	}
//}