// ------------------------------------------------------------
// Media controllers
// ------------------------------------------------------------

// Image control class
.max-width 		{ @extend %max-width; }
picture img 	{ @extend %max-width; }

.media-logo {
	width: 110px;
	height: 110px;
	display: block;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	@include leader($internal-spacing/4);
	//&:first-of-type {
		//margin-left: 0;
	//}
	.callout--logos & {
		width: 30%;
		max-width: 125px;
		height: auto;
		margin-left: 2.5%;
		margin-right: 0;
		&:first-of-type {
			margin-left: 0;
		}
	}
}

.media-square {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.media-square--hp {
	display: inline-block;
	float: left;
	width: 50%;
	@include respond-to($d-vp) {
		display: block;
		float: none;
		width: 100%;
	}
}

// Basic responsive videos
// ------------------------------------------------------------

.media-video-wrapper {
	position: relative;
	@include maintain-ratio(16 9);
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

