// ------------------------------------------------------------
// Aligment and meter
// ------------------------------------------------------------

.max-meter 				{ max-width: 800px; }
.max-meter--center 		{ margin-left: auto; margin-right: auto; }

.align-center 			{ text-align: center; }
.align-left 			{ text-align: left; }
.align-right 			{ text-align: right; }


// ------------------------------------------------------------
// Additional goodies
// ------------------------------------------------------------

a.text-link {
	color: $base-color;
	border-bottom: 1px solid $action;
	@include link-active-styles {
		border-bottom-color: $action-respond;
	}
	.fill-knight &,
	.fill-miami &,
	.fill-deadpool & {
		color: #fff;
		@include link-active-styles {
			border-bottom-color: #fff;
		}
	}
}

a.text-link--post-icon {
	
}

.is-typeset--longform {
	@include respond-to($max-grid) {
		p, li {
			@include font-size($delta);
			a {
				font-size: inherit;
			}
		}	
	}
}

.is-typeset--additionals {
	> p:first-of-type {
		color: $heading-color;
		font-size: 125%;
		@include leading($base-font-size*1.05);
	}
}

// ------------------------------------------------------------
// Blockquotes
// ------------------------------------------------------------

.as-blockquote {
	position: relative;
	p {
		@include font-size($quote);
		@extend %font-heading;
		text-align: center;
	}
	cite {
		display: block;
		font-weight: 600;
		@include leader($para);
	}
}

.is-typeset {
	blockquote {
		@extend .as-blockquote;
	}
}